.wrapper {
  padding-block: 150px;
  background-color: var(--gray);

  .container {
    @include container;

    .content {
      > h3 {
        @include body-m-medium;
        color: var(--blue);
        margin-bottom: 10px;
      }

      > h4 {
        @include body-xl-medium;
        margin-bottom: 60px;
      }

      .verticalTimelineWrapper {
        .date {
          color: var(--text-color);
          opacity: unset;
        }

        .card {
          box-shadow: 0 0 10px var(--black-10);
          background-color: var(--white);
          color: var(--text-color);

          .vertical-timeline-element-content-arrow {
            border-right: 10px solid var(--white);
          }
        }

        .icon {
          border: 4px solid var(--white);
          box-shadow: 0 0 10px var(--black-10);

          &.green {
            background-color: var(--green);
          }

          &.orange {
            background-color: var(--orange);
          }
        }
      }
    }
  }
}
