:root {
  --text-color: #2d2e32;
  --text-secondary: #767676;;

  --white: #ffffff;
  --gray: #f9f9f9;
  --black: #2d2e32;
  --blue: #147efb;
  --orange: #f3af3f;

  --scrollbar-thumb: #8e8e8e;
  --scrollbar-track: #ffffff;
}
