html {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--poppins-font), sans-serif;
  color: var(--text-color);
}

@mixin container {
  max-width: 1070px;
  padding-inline: 40px;
  margin: 0 auto;
}
