@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
  --poppins-font: 'Poppins', sans-serif;
  --mulish-font: 'Mulish', sans-serif;
  --default-font-family: var(--poppins-font);
}

@mixin fontBase($fontFamily: var(--default-font-family)) {
  font: {
    family: $fontFamily;
    style: normal;
  }
}

@mixin body-xxl($fontFamily: var(--default-font-family)) {
  @include fontBase($fontFamily);
  font-weight: 400;
  font-size: 54px;
  line-height: 68px;
}

@mixin body-xxl-bold($fontFamily: var(--default-font-family)) {
  @include fontBase($fontFamily);
  font-weight: 800;
  font-size: 54px;
  line-height: 68px;
}

@mixin body-xl($fontFamily: var(--default-font-family)) {
  @include fontBase($fontFamily);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

@mixin body-xl-medium($fontFamily: var(--default-font-family)) {
  @include fontBase($fontFamily);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

@mixin body-xl-bold($fontFamily: var(--default-font-family)) {
  @include fontBase($fontFamily);
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
}

@mixin body-l($fontFamily: var(--default-font-family)) {
  @include fontBase($fontFamily);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

@mixin body-l-medium($fontFamily: var(--default-font-family)) {
  @include fontBase($fontFamily);
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

@mixin body-l-bold($fontFamily: var(--default-font-family)) {
  @include fontBase($fontFamily);
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
}

@mixin body-m($fontFamily: var(--default-font-family)) {
  @include fontBase($fontFamily);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

@mixin body-m-medium($fontFamily: var(--default-font-family)) {
  @include fontBase($fontFamily);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

@mixin body-m-bold($fontFamily: var(--default-font-family)) {
  @include fontBase($fontFamily);
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}
